.header-box {
  display: flex;
  height: inherit;
  // padding: 0 24px;
}

.header-nav {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: space-between;
  // background: moccasin;
  align-items: center;
}

#img {
  cursor: pointer;
  width: inherit;
}

.ant-dropdown-menu {
  margin-top: 0.625rem !important;
  padding: 0.5rem !important;
}